<div class="uk-background-primary uk-light">

    <div class="uk-container">
        <nav class="uk-navbar-container uk-navbar-transparent uk-margin" uk-navbar="">
            <div class="uk-navbar-left">
                <a class="uk-navbar-item uk-logo" href="/login">
                    <img src="../../assets/images/icon.png" class="logo" alt="MagniLearn">
                </a>
                <ul class="uk-navbar-nav">
                    <li><a [routerLink]="['/consulta']" routerLinkActive="uk-text-bold">Consultar Usuário</a></li>
                    <li><a [routerLink]="['/investimento']" routerLinkActive="uk-text-bold">Simular Investimento</a></li>
                </ul>
            </div>
        </nav>
    </div>

</div>